
body {
    
    
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    min-width: 960px;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f8f5f2;
    background-image: url(../img/catalog-pattern-noise.png);
    
    
}

.index {
    background: #111 url(../img/barber-back.jpg) no-repeat center top;
    background-size: 2560px auto;
    color: #fff;
}

h1 {
    
}
h2 {
    font-size: 30px;
}
.main-header {
    font-size: 16px;
    background-color: #000;
    margin-bottom: 60px;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.oline {
    outline: 1px solid yellow;
}
.main-navigation {
    float: left;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    float: left;
}

.main-navigation li a {
    padding: 25px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation .active a:after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 5px;
    background: #fff;
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active a {
    position: relative;
}

.user-block {
    float: right;
    text-align: right;
}

.user-block a {
    position: relative;
    display: block;
    padding: 25px 20px 25px 50px;
    text-decoration: none;
    color: #fff;
}

.user-block a:hover {
    background: #242424;
}

.user-block a:before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/login-icon-white.png") no-repeat 0 0;
    opacity: 0.3;
}

.user-block a:hover:before {
    opacity: 1;
}

.main-container {
    margin: 10px auto;
    padding-top: 50px;
}

.logo {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 368px;
    height: 204px;
    background-image: url(../img/logo-barbershop.png);
    text-indent: 100%;
    overflow: hidden;
}


.features-row {
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
    
}

.features-item:last-child {
    margin-right: 0;
}

.features-title {
    position: relative;
    font-size: 30px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.features-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    background-color: #f7f4f1;
    background:url(../img/vertival-line-index.png) no-repeat center, url(../img/catalog-pattern-noise.png);
    color: #000;
}

.index-content time {
    text-transform: none;
    font-weight: 400;
}

.index-content:last-child {
    margin-bottom: 0;
}

.content-column-left {
    float: left;
    min-height: 300px;
    width: 350px;
    text-align: left;
}

.content-column-right {
    float: right;
    min-height: 300px;
    width: 300px;
}

.content-column-left li {
    text-align: left;
    list-style: none;
    margin-bottom: 25px;
}

.content-column-title {
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;

}

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 33px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 16px;
}

.btn:hover,
.btn:active {
    background-color: #663d15;

}

.btn:disabled {
    cursor: default;
    opacity: 0.5;
    }

.btn:disabled:hover {
    background: #000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    border: 7px solid #fff;
    background: #ccc;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    width: 140px;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.appointment-form  input {
    width: 106px;
    padding: 10px 15px;
    border: 2px solid #000;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    background: #f9f6f3;
    outline: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.appointment-form  input:focus {
    border: 2px solid #663d15;
}

.appointment-form  input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 60px;
    background: #232323 url(../img/footer-pattern-noise.png);
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 80px;
}

.footer-social {
    float: left;
    text-align: center;
}

.footer-copyright {
    float: right;
    max-width: 320px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    font-size: 0;
    text-decoration: none;
    background: #000 url("img/...") no-repeat center;
    margin: 0 2px;
}

/*для спрайта*/

.social-btn-vk {
    background-position: ;
}

.social-btn-fb {
    background-position: ;
}

.social-btn-inst {
    background-position: ;
}

.social-btn-vk:hover {
    background-position: 9px -902px;
}

.social-btn-fb:hover {
    background-position: 16px -619px;
}

.social-btn-inst:hover {
    background-position: 11px -762px;
}

/*----------------------------*/

.social-btn:hover {
    background-color: #fff;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;
    background: #fff;
}

.filter {
    float: left;
    width: 190px;
    min-height: 580px;
    margin-left: 10px;
}

.products {
    float: right;
    width: 700px;
    min-height: 620px;
}

.product {
    display: inline-block;
    vertical-align: top;
/*    font-size: 14px*/
    width: 220px;
    min-height: 300px;
    margin: 0 5px 5px 0;
}

.news-preview {
    padding-left: 0;
}

.gallery-content {
    margin: 0;
}

.filter label {
    display: block;
}

.breadcrumbs li {
    display: inline-block;
    padding: 5px 10px 5px 0;
}

.breadcrumbs {
    padding-left: 0;
}

.item-pictures {
    float: left;
    width: 460px;
    min-height: 675px;
    margin-right: 20px;
    text-align: center;
}

.description {
    float: right;
    width: 400px;
}



